par/db/**
par/incremental_db/**
rtl/altera_ip/*sim*/**
rtl/altera_ip/RxTx*/**
rtl/altera_ip/*.bsf
rtl/altera_ip/*.f
**.spd
**.sip
**.ppf
**.bak
**.rpt
**.summary
**.done
**.txt
**.sld
**.smsg
**.qip
**.cmp
**.jdi

**.sof
**.pof



